<article class="listing">
  <button {{action "carSelected"}}>
  <div class="detail carmake">
    <span>Car Make:</span> {{car.carmake}}
  </div>
  <div class="detail carmodel">
    <span>Car Model:</span> {{car.carmodel}}
  </div>
  <div class="detail carmiles">
    <span>Car Miles:</span> {{car.carmiles}}
  </div>
  <div class="detail caryear">
    <span>Car Year:</span> {{car.caryear}}
  </div>
</button>
</article>
