<h1>Which car?</h1>

<div class="selections">
  {{#each model as |carUnit|}}
    <label class="" for="option-{{carUnit.carmodel}}">
      <input type="radio" id="option-{{carUnit.carmodel}}" class="" name="carOptions" value="{{carUnit.id}}"
        onchange={{action 'selectCar' value="target.value"}}>
        {{car-listing car=carUnit}}
    </label>
  {{/each}}
</div>
<div class="navigation">
  {{#link-to 'dashboard'}}
  <br/>
    <a href="#">Back</a>
  {{/link-to}}
    <a href="#" {{action "nextPage"}}>Next</a>
</div>
