<h1>When does it happen?</h1>
<h2>When the engine temperature gauge reads: </h2>
<h3><button {{action "engineSelected"}}>Cold</button></h3>
<h3><button {{action "engineSelected"}}>Warm-up</button></h3>
<h3><button {{action "engineSelected"}}>Normale</button></h3>
<h3><button {{action "engineSelected"}}>Hot</button></h3>
<h3><button {{action "engineSelected"}}>All temperatures</button></h3>
{{#link-to 'diagnostic-pages.cause-speed'}}
    <a href="#">Back</a>
{{/link-to}}
{{#link-to 'diagnostic-pages.cause-driving'}}
    <a href="#">Next</a>
{{/link-to}}
